* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'JetBrains Mono', monospace;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 14px;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* .container {
    display: flex;
    gap: 6px;
} */

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25b6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

/* .questionsContainer {
    list-style: none;
}

.questionCategories {
    list-style: none;
}

.questionItems {
    list-style: none;
}

.category-links {
    list-style: none;
} */

li {
    list-style: none;
}